
@using Entities.DTOs.Comment
@model List<GetCommentDto>



<div id="eskimo-comments-wrapper">
        <div id="eskimo_comments_block" class="eskimo_comments_block">
            <h3 class="eskimo-title-with-border">
                <span></span>
            </h3>
            <br /><br />
            <div class="eskimo_commentlist">
                <!-- COMMENT 1 -->
            @foreach(var item in Model)
            {
                 <div class="eskimo_comment_wrapper">
                    <div class="eskimo_comments">
                        <div class="eskimo_comment">
                            <div class="eskimo_comment_inner">
                                <div class="eskimo_comment_left">
                                    <img alt='' src='~/BlogTemplate/images/profile.png' />
                                </div>
                                <div class="eskimo_comment_right">
                                    <div class="eskimo_comment_right_inner ">
                                        <cite class="eskimo_fn">
                                            <a href='author.html'>@item.UserName</a>
                                        </cite>
                                        <div class="eskimo_comment_links">
                                            <i class="fa fa-clock-o"></i> @(((DateTime)@item.Date).ToString("dd-MMM-yyyy hh:mm")) - <a href="#">Reply</a>
                                        </div>
                                        <div class="eskimo_comment_text">
                                            <p>@item.Text</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COMMENT 1 REPLYIES-->

                    @foreach(var reply in item.Replies)
                    {
                        
                      <div class="eskimo_comment_wrapper">
                        <div class="eskimo_comments">
                            <div class="eskimo_comment">
                                <div class="eskimo_comment_inner">
                                    <div class="eskimo_comment_left">
                                    <img alt='' src='~/BlogTemplate/images/profile.png' />
                                    </div>
                                    <div class="eskimo_comment_right">
                                        <div class="eskimo_comment_right_inner ">
                                            <cite class="eskimo_fn">
                                                <a href='author.html'>@reply.UserName</a>
                                            </cite>
                                            <div class="eskimo_comment_links">
                                                <i class="fa fa-clock-o"></i> @(((DateTime)@reply.Date).ToString("dd-MMM-yyyy hh:mm")) - <a href="#">Reply</a>
                                            </div>
                                            <div class="eskimo_comment_text">
                                                  <p>@reply.Text</p> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                    }
                </div>
            }

            </div>
        </div>
    </div>
